.home-container {
    background-color: black;
    color: white;
    height: 100%;
}

.title-container {
    text-align: center;
    position: absolute;
    margin-top: 25%;
    width: 100%;
}

.title-container h1 {
    font-size: 48px;
}

.title-container h2 {
    font-size: 32px;
}

.title-container a {
    color: white;
}